$mainColor:#a6c64c;
$secondColor:#0080a4;
$thirdColor:#073b44;
$gold: #FFD700;
$white-color: #ffffff;
$black-color: #292929;
$transition: all .3s ease-in-out;
$shadow: 0px 2px 6px #00000030;
$BigShadow: 0px 10px 30px #00000030;

@font-face {
    font-family: Almarai;
    src: url(../webfonts/Almarai-Regular.ttf);
}

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    font-family: 'Almarai';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    letter-spacing: .5px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F8F9FA;
    border-radius: 20px !important;

}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    outline: none;
    border-radius: 20px !important;

}

a {
    text-decoration: none;
    transition: $transition;
}

a:hover {
    text-decoration: none;
    color: $mainColor;
}

button:focus {
    outline: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: $mainColor;
}

.row {
    margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    letter-spacing: .5px;
}

@media (max-width: 767px) {

    .container,
    .container-fluid {
        padding: 0px 8px;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

content {
    min-height: 70vh;
    display: block;
    position: relative;
}

/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
.navbar-vertical.navbar-expand-xs .navbar-collapse {
    overflow: hidden;
}

.sidenav-header {
    height: unset;
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon {
    background-image: linear-gradient(45deg, $secondColor, $mainColor);
}

.icon-shape i {
    opacity: 1;
}

.bg-gradient-primary {
    background-image: linear-gradient(45deg, $secondColor, $mainColor);
}

.bg-gradient-primary-light {
    background-image: linear-gradient(45deg, #0080a420, #a6c64c20);
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active {
    color: $thirdColor;
}

.navbar-vertical .navbar-nav .nav-item .collapse .nav .nav-item.active .nav-link {
    color: $mainColor;

    &:before {
        background-color: $mainColor;
    }
}

.sidenav {
    .navbar-brand {
        text-align: center;
        padding: 20px 5px 10px 5px;

        img {
            height: 60px !important;
            max-height: unset !important;
            object-fit: contain;
        }
    }
}

.form-label {
    text-transform: capitalize;
}

.navbar-vertical .navbar-nav .nav-link .icon {
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        color: $black-color;
        font-size: 16px;
    }
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon {
    i {
        color: $white-color;
    }
}

.breadcrumb-item+.breadcrumb-item {
    text-transform: capitalize;
}

.MainTitle {
    font-weight: bold;
    text-transform: capitalize;
}

.input-group .form-control:focus {
    border-right-color: $mainColor !important;
    border-left-color: $mainColor !important;
}

.is-focused .choices__inner,
.is-open .choices__inner {
    box-shadow: none;
    border-color: $mainColor;
}

.choices[data-type*=select-one] .choices__input {
    border: 1px solid #d2d6da;
    margin-bottom: 5px;
    border-radius: 4px;
}

.form-control,
.choices__inner {
    min-height: 54px;
}

.choices[data-type*=select-one]:after {
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
}

.choices[data-type*=select-one].is-open:after {
    transform: translateY(-50%) rotate(180deg);

}

.choices__list--dropdown .choices__item {
    padding: 4px 10px !important;
}




.choose {
    position: relative;
    display: flex;
    justify-content: space-around;

    .genderOption {
        width: 46%;
    }

    .btn {
        padding: 15px 20px;
        border: 1px solid #d2d6da;
        box-shadow: none;
        width: 100%;
        background-color: $white-color;

        span {
            text-transform: capitalize;
        }

        i {
            font-size: 20px;
        }

    }

    .btn-check:active+.btn-outline,
    .btn-check:checked+.btn-outline,
    .btn-outline.active,
    .btn-outline.dropdown-toggle.show,
    .btn-outline:active {
        background-color: $mainColor;
        color: $white-color;

    }
}

footer {
    //   background-image: url(../img/grass.png);
    //   background-size: contain;
    //   background-position: center left;
    //   margin-top: 50px;
    //   position: relative;
    //   padding-top: 50px;
    //   z-index: 9999;
    padding: 40px 20px;
}


.visitorType {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0px 5px;
    user-select: none;
    cursor: pointer;
    transition: $transition;
    border: 1px solid #eee;
    position: relative;

    svg {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .visitor {
        margin-top: 10px;
        display: block;
    }

    &:hover {
        box-shadow: $BigShadow;
        transform: translateY(-5px);
    }

    .count {
        position: absolute;
        right: -5px;
        top: -5px;
        min-width: 30px;
        height: 30px;
        border-radius: 1000px;
        border: 1px solid $mainColor;
        background-color: $white-color;
        color: $mainColor;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 12px;
    }
}